# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
media/

# Virtual Environment
venv/

# IDEs and editors
.vscode/

# Python
*.py[cod]
*$py.class

# Unit test / coverage reports
.pytest_cache/

# Backup files
*.bak
